<footer class="footer">
    <div class="footer-top">
        <div class="footer-container">
            <div class="footer-newsletter">
                <div class="footer-list">הצטרפו לניוזלטר</div>
                <form action="" class="footer-form">
                    <button class="footer-btn">שלח</button>
                    <input type="text" class="footer-input" placeholder=":כתובת דוא”ל">
                </form>
            </div>
            <ul class="footer-menu">
                <li class="footer-list">צרו קשר</li>
                <li class="footer-list"><div class="footer-link">יקב אדיר פארק תעשייה דלתון</div></li>
                <li class="footer-list"><a href="" class="footer-link">טלפון: 04-6991039</a></li>
                <li class="footer-list"><a href="" class="footer-link">Yosir@adir-winery.co.il</a></li>
            </ul>
            <ul class="footer-menu">
                <li class="footer-list">חדשות היקב</li>
                <li class="footer-list"><a href="#" class="footer-link underline">השקת אולם סדנאות וארועים</a></li>
                <li class="footer-list"><a href="#" class="footer-link underline">יקב אדיר – יין ישראלי במזרח הרחוק</a></li>
                <li class="footer-list"><a href="#" class="footer-link underline"> שיראז 2010 – היין הטוב ביותר במזרח התיכון</a></li>
                <li class="footer-list"><a href="#" class="footer-link underline">יקב אדיר זכה להוקרה מהשגרירות הצ'כית</a></li>
            </ul>
            <ul class="footer-menu">
                <li class="footer-list">ניווט מהיר</li>
                <li class="footer-list"><a href="#" class="footer-link">חנות</a></li>
                <li class="footer-list"><a href="#" class="footer-link">יקב אדיר</a></li>
                <li class="footer-list"><a href="#" class="footer-link"> מרכז מבקרים</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-down">
        Galyam Studio <a href="" class="footer-down-link">   גל ים סטודיו  </a> – כל הזכויות שמורות ליקב אדיר | עיצוב ופיתוח
    </div>
</footer>