<!-- header.html -->
<header class="header">
	<div class="container">
		<div class="header-top">
			<div class="header-flex">
				<div class="header-block">
					<a href="" class="header-link"><img src="img/header-logo.png" alt="caspi" class="header-logo"></a>
					<div class="header-flex">
						<a href="#" class="header-btn">מרכז מבקרים</a>
						<a href="#" class="header-btn active">יקב</a>
					</div>
				</div>
				<ul class="header-social">
					<li class="header-social-list">
						<a href="#" class="header-social-link"><img src="img/youtube.jpg" alt="youtube" class="header-social-img"></a>
					</li>
					<li class="header-social-list">
						<a href="#" class="header-social-link"><img src="img/facebook.jpg" alt="facebook" class="header-social-img"></a>
					</li>
					<li class="header-social-list">
						<a href="#" class="header-social-link"><img src="img/instagram.jpg" alt="instagram" class="header-social-img"></a>
					</li>
					<li class="header-social-list">
						<a href="#" class="header-social-link"><img src="img/google.jpg" alt="google" class="header-social-img"></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="header-down">
		<div class="container">
			<div class="header-flex">
				<a href="tel:046991039" class="header-phone"><span class="header-span">טלפון:</span> 04-6991039</a>
				<ul class="header-menu">
					<li class="header-list"><a href="#" class="header-link">צור קשר</a></li>
					<li class="header-list"><a href="#" class="header-link">אזורי פעילות</a></li>
					<li class="header-list"><a href="#" class="header-link">בלוג</a></li>
					<li class="header-list"><a href="#" class="header-link">היינן שלנו</a></li>
					<li class="header-list"><a href="#" class="header-link">הגישה שלנו</a></li>
					<li class="header-list"><a href="#" class="header-link">אודות</a></li>
					<li class="header-list"><a href="#" class="header-link active">דף בית </a></li>
					<li class="header-list"><a href="#" class="header-link header-market">חנות</a></li>
				</ul>
				<div class="header-btn-menu">
					<span class="header-line header-line_top"></span>
					<span class="header-line header-line_center"></span>
					<span class="header-line header-line_bottom"></span>
				</div>
			</div>
		</div>
	</div>
</header>