<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>phone</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--<meta name="viewport" content="width=480, maximum-scale=1.0"/>-->
	<link rel="shortcut icon" href="img/favicon.jpg" type="image/x-icon">
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/main.css">
</head>

<body>
	@import "header.html"
	<div class="about">
		<section class="about-first">
			<div class="about-first-block">
				<div class="container">
					<img src="img/foto1.jpg" alt="" class="about-first-img">
					<div class="about-first-content">
						<div class="about-first-title bold green">היינן שלנו</div>
						<p class="about-first-text">
							.העסק שלנו צמח מתוך חלום והוא מונע מחזון
							.אנו מאמינים בהגשמת השאיפות שלנו יהיו אשר יהיו
							.מבחינתנו, אין אתגר קשה מדי ואין משימה תובענית מדי
							,לכן, כשבן משפחתנו אבי רוזנברג שם לעצמו למטרה להיות יינן מקצועי
							.ידענו שלא זו בלבד שהוא ישיג את המטרה, אלא שהוא אף יצטיין בתחומו
							ואכן, זה מה שקרה. סיום לימודיו במסלול  <span class="green"> CELLAR MASTER </span>
							.במכללת תל חי, רק הצעד הראשון במסע</p>

						<p class="about-first-text">	הגשמת חלומו אבי הוא המייסד של יקב אדיר ומקור ההשראה שלו
							כבן למשפחת חקלאים הוא מביא עמו ידע מעמיק וניסיון מעשי רב
							היכולת שלו לשלב את אהבת האדמה ואת הסקרנות האינסופית
							עם המומחיות שצבר במהלך השנים מובילה אותו לגדל את הענבים
							האיכותיים ביותר והעשירים ביותר בטעם ובארומה בעבור כל היינות שלנו
							בסופו של דבר, איכות היין נקבעת לפי איכות המקור. בשביל אבי
							זו הדרך היחידה לעשות יין. בשבילנו, זהו הסטנדרט של אדיר
							.וכך יהיה תמיד.שית כמו שרק עסק משפחתי יכול להציע

						</p>
					</div>
				</div>
			</div>
		</section>
		<div class="visitor-fifth-title">!בואו לבקר אותנו ביקב</div>
		<img src="img/bung.jpg" alt="" class="visitor-fifth-img">
	</div>
	@import "footer.html"
	<script src="js/jquery.min.js"></script>
	<script src="js/libs.min.js"></script>
    <script src="js/common.js"></script>


</body>
</html>
