<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>phone</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--<meta name="viewport" content="width=480, maximum-scale=1.0"/>-->
	<link rel="shortcut icon" href="img/favicon.jpg" type="image/x-icon">
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/main.css">
</head>

<body>
	@import "header.html"
	<div class="blog">
		<section class="blog-first">
			<div class="blog-overlay">
				<div class="blog-first-flex">
					<a href="#" class="crumb"> בלוג</a>
					<a href="#" class="crumb active">דף הבית</a>
				</div>
				<p class="blog-first-text green">ברוכים הבאים לבלוג שלנו, פה תוכלו לקרוא על חדשות בעולם היין, וב</p>
			</div>
		</section>
		<section class="blog-second">
			<div class="container">
				<div class="blog-second-flex">
					<div class="blog-second-item" style="background: url(img/blog1.jpg) no-repeat center / cover">
						<div class="blog-second-hover">
							<div class="blog-second-date">22.04.2019</div>
							<div class="blog-second-title bold">זכיה של יקב אדיר במגזין היוקרתי

								<span class="blog-second-uper">DECANTER</span>
							</div>
							<div class="blog-second-content ">
								<p class="blog-second-text line-clamp-4 line-clamp">יקב אדיר ממשיכים להביא הרבה כבוד
									לתעשיית היין הישראלי והפעם<br>
									ובתואר "היין הטוב ביותר באזור המזרח התיכון</p>
							</div>
							<a href="#" class="blog-second-btn btn">המשך קריאה</a>
						</div>
					</div>
					<div class="blog-second-item" style="background: url(img/blog2.jpg) no-repeat center / cover">
						<div class="blog-second-hover">
							<div class="blog-second-date">22.04.2019</div>
							<div class="blog-second-title bold">זכיה של יקב אדיר במגזין היוקרתי

								<span class="blog-second-uper">DECANTER</span>
							</div>
							<div class="blog-second-content ">
								<p class="blog-second-text line-clamp-4 line-clamp">יקב אדיר ממשיכים להביא הרבה כבוד
									לתעשיית היין הישראלי והפעם<br>

									ובתואר "היין הטוב ביותר באזור המזרח התיכון ובתואר "היין הטוב ביותר באזור המזרח התיכון</p>
							</div>
							<a href="#" class="blog-second-btn btn">המשך קריאה</a>
						</div>
					</div>
					<div class="blog-second-item" style="background: url(img/blog3.jpg) no-repeat center / cover">
						<div class="blog-second-hover">
							<div class="blog-second-date">22.04.2019</div>
							<div class="blog-second-title bold">זכיה של יקב אדיר במגזין היוקרתי

								<span class="blog-second-uper">DECANTER</span>
							</div>
							<div class="blog-second-content ">
								<p class="blog-second-text line-clamp-4 line-clamp">יקב אדיר ממשיכים להביא הרבה כבוד
									לתעשיית היין הישראלי והפעם<br>
									ובתואר "היין הטוב ביותר באזור המזרח התיכון</p>
							</div>
							<a href="#" class="blog-second-btn btn">המשך קריאה</a>
						</div>
					</div>
					<div class="blog-second-item" style="background: url(img/blog1.jpg) no-repeat center / cover">
						<div class="blog-second-hover">
							<div class="blog-second-date">22.04.2019</div>
							<div class="blog-second-title bold">זכיה של יקב אדיר במגזין היוקרתי

								<span class="blog-second-uper">DECANTER</span>
							</div>
							<div class="blog-second-content ">
								<p class="blog-second-text line-clamp-4 line-clamp">יקב אדיר ממשיכים להביא הרבה כבוד
									לתעשיית היין הישראלי והפעם<br>
									ובתואר "היין הטוב ביותר באזור המזרח התיכון</p>
							</div>
							<a href="#" class="blog-second-btn btn">המשך קריאה</a>
						</div>
					</div>
					<div class="blog-second-item" style="background: url(img/blog2.jpg) no-repeat center / cover">
						<div class="blog-second-hover">
							<div class="blog-second-date">22.04.2019</div>
							<div class="blog-second-title bold">זכיה של יקב אדיר במגזין היוקרתי

								<span class="blog-second-uper">DECANTER</span>
							</div>
							<div class="blog-second-content ">
								<p class="blog-second-text line-clamp-4 line-clamp">יקב אדיר ממשיכים להביא הרבה כבוד
									לתעשיית היין הישראלי והפעם<br>

									ובתואר "היין הטוב ביותר באזור המזרח התיכון ובתואר "היין הטוב ביותר באזור המזרח התיכון</p>
							</div>
							<a href="#" class="blog-second-btn btn">המשך קריאה</a>
						</div>
					</div>
					<div class="blog-second-item" style="background: url(img/blog3.jpg) no-repeat center / cover">
						<div class="blog-second-hover">
							<div class="blog-second-date">22.04.2019</div>
							<div class="blog-second-title bold">זכיה של יקב אדיר במגזין היוקרתי

								<span class="blog-second-uper">DECANTER</span>
							</div>
							<div class="blog-second-content ">
								<p class="blog-second-text line-clamp-4 line-clamp">יקב אדיר ממשיכים להביא הרבה כבוד
									לתעשיית היין הישראלי והפעם<br>
									ובתואר "היין הטוב ביותר באזור המזרח התיכון</p>
							</div>
							<a href="#" class="blog-second-btn btn">המשך קריאה</a>
						</div>
					</div>
					<div class="blog-second-item" style="background: url(img/blog1.jpg) no-repeat center / cover">
						<div class="blog-second-hover">
							<div class="blog-second-date">22.04.2019</div>
							<div class="blog-second-title bold">זכיה של יקב אדיר במגזין היוקרתי

								<span class="blog-second-uper">DECANTER</span>
							</div>
							<div class="blog-second-content ">
								<p class="blog-second-text line-clamp-4 line-clamp">יקב אדיר ממשיכים להביא הרבה כבוד
									לתעשיית היין הישראלי והפעם<br>
									ובתואר "היין הטוב ביותר באזור המזרח התיכון</p>
							</div>
							<a href="#" class="blog-second-btn btn">המשך קריאה</a>
						</div>
					</div>
					<div class="blog-second-item" style="background: url(img/blog2.jpg) no-repeat center / cover">
						<div class="blog-second-hover">
							<div class="blog-second-date">22.04.2019</div>
							<div class="blog-second-title bold">זכיה של יקב אדיר במגזין היוקרתי

								<span class="blog-second-uper">DECANTER</span>
							</div>
							<div class="blog-second-content ">
								<p class="blog-second-text line-clamp-4 line-clamp">יקב אדיר ממשיכים להביא הרבה כבוד
									לתעשיית היין הישראלי והפעם<br>

									ובתואר "היין הטוב ביותר באזור המזרח התיכון ובתואר "היין הטוב ביותר באזור המזרח התיכון</p>
							</div>
							<a href="#" class="blog-second-btn btn">המשך קריאה</a>
						</div>
					</div>
					<div class="blog-second-item" style="background: url(img/blog3.jpg) no-repeat center / cover">
						<div class="blog-second-hover">
							<div class="blog-second-date">22.04.2019</div>
							<div class="blog-second-title bold">זכיה של יקב אדיר במגזין היוקרתי

								<span class="blog-second-uper">DECANTER</span>
							</div>
							<div class="blog-second-content ">
								<p class="blog-second-text line-clamp-4 line-clamp">יקב אדיר ממשיכים להביא הרבה כבוד
									לתעשיית היין הישראלי והפעם<br>
									ובתואר "היין הטוב ביותר באזור המזרח התיכון</p>
							</div>
							<a href="#" class="blog-second-btn btn">המשך קריאה</a>
						</div>
					</div>
					<div class="blog-second-item" style="background: url(img/blog1.jpg) no-repeat center / cover">
						<div class="blog-second-hover">
							<div class="blog-second-date">22.04.2019</div>
							<div class="blog-second-title bold">זכיה של יקב אדיר במגזין היוקרתי

								<span class="blog-second-uper">DECANTER</span>
							</div>
							<div class="blog-second-content ">
								<p class="blog-second-text line-clamp-4 line-clamp">יקב אדיר ממשיכים להביא הרבה כבוד
									לתעשיית היין הישראלי והפעם<br>
									ובתואר "היין הטוב ביותר באזור המזרח התיכון</p>
							</div>
							<a href="#" class="blog-second-btn btn">המשך קריאה</a>
						</div>
					</div>
					<div class="blog-second-item" style="background: url(img/blog2.jpg) no-repeat center / cover">
						<div class="blog-second-hover">
							<div class="blog-second-date">22.04.2019</div>
							<div class="blog-second-title bold">זכיה של יקב אדיר במגזין היוקרתי

								<span class="blog-second-uper">DECANTER</span>
							</div>
							<div class="blog-second-content ">
								<p class="blog-second-text line-clamp-4 line-clamp">יקב אדיר ממשיכים להביא הרבה כבוד
									לתעשיית היין הישראלי והפעם<br>

									ובתואר "היין הטוב ביותר באזור המזרח התיכון ובתואר "היין הטוב ביותר באזור המזרח התיכון</p>
							</div>
							<a href="#" class="blog-second-btn btn">המשך קריאה</a>
						</div>
					</div>
					<div class="blog-second-item" style="background: url(img/blog3.jpg) no-repeat center / cover">
						<div class="blog-second-hover">
							<div class="blog-second-date">22.04.2019</div>
							<div class="blog-second-title bold">זכיה של יקב אדיר במגזין היוקרתי

								<span class="blog-second-uper">DECANTER</span>
							</div>
							<div class="blog-second-content ">
								<p class="blog-second-text line-clamp-4 line-clamp">יקב אדיר ממשיכים להביא הרבה כבוד
									לתעשיית היין הישראלי והפעם<br>
									ובתואר "היין הטוב ביותר באזור המזרח התיכון</p>
							</div>
							<a href="#" class="blog-second-btn btn">המשך קריאה</a>
						</div>
					</div>

				</div>
				<div class="blog-pagination">
					<!--<a href="#" class="blog-pagination-link blog-pagination-prev"><img src="img/prev.png" alt="" class="blog-pagination-img"></a>-->
					<a href="#" class="blog-pagination-link active">1</a>
					<a href="#" class="blog-pagination-link">2</a>
					<a href="#" class="blog-pagination-link">3</a>
					<a href="#" class="blog-pagination-link">4</a>
					<!--<a href="#" class="blog-pagination-link point">...</a>-->
					<a href="#" class="blog-pagination-link blog-pagination-next"><img src="img/next.png" alt="" class="blog-pagination-img"></a>
				</div>
			</div>
		</section>
		<div class="visitor-fifth-title">!בואו לבקר אותנו ביקב</div>
		<img src="img/bung.jpg" alt="" class="visitor-fifth-img">
	</div>
	@import "footer.html"
	<script src="js/jquery.min.js"></script>
	<script src="js/libs.min.js"></script>
    <script src="js/common.js"></script>


</body>
</html>
