<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>phone</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--<meta name="viewport" content="width=480, maximum-scale=1.0"/>-->
	<link rel="shortcut icon" href="img/favicon.jpg" type="image/x-icon">
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/main.css">
</head>

<body>
	@import "header.html"
	<div class="contact">
		<section class="about-first">
			<div class="about-first-block">
				<div class="container">
					<form action="" class="contact-form">
						<div class="contact-form-title">צור קשר</div>
						<p class="contact-text">
							.אנא מלא/י את הפרטים, ונחזור אליך בהקדם
						</p>
						<input type="text" class="contact-input" placeholder=":שם" required>
						<input type="text" class="contact-input" placeholder=":טלפון" required>
						<input type="text" class="contact-input" placeholder=":מייל" required>
						<textarea class="contact-comments" placeholder=":הודעה"></textarea>
						<label class="contact-label">
							<input type="checkbox" class="checkbox">
							<span class="contact-checkbox"></span>
							<span class="contact-item">מאשר/ת להצטרף לרשימת תפוצה ודיוור</span>
						</label>
						<button type="submit" class="contact-btn">שלח</button>
					</form>
					<div class="contact-title">!בואו לבקר אותנו ביקב</div>
				</div>
			</div>
		</section>
		<div class="visitor-fifth-title">!בואו לבקר אותנו ביקב</div>
		<img src="img/bung.jpg" alt="" class="visitor-fifth-img">
	</div>
	@import "footer.html"
	<script src="js/jquery.min.js"></script>
	<script src="js/libs.min.js"></script>
    <script src="js/common.js"></script>


</body>
</html>
