<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>phone</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--<meta name="viewport" content="width=480, maximum-scale=1.0"/>-->
	<link rel="shortcut icon" href="img/favicon.jpg" type="image/x-icon">
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/main.css">
</head>

<body>
	@import "header.html"
	<div class="market">
		<section class="market-first">
			<div class="market-first-block">
				<img src="img/winery1.jpg" alt="" class="market-first-winery">
			</div>
			<div class="market-first-block">
				<div class="market-first-flex">
					<div class="market-first-item">
						BARBERA ROSE
						<span class="market-first-span">KEREM BEN ZIMRA</span></div>
					<div class="market-first-item">
						ברברה רוזה
						<span class="market-first-span">כרם זן במרה</span>
					</div>
				</div>
				<div class="market-first-content">
					<p class="market-first-text">
						היין נעשה בצורה המסורתית בסחיטה מהירה של הענבים, הושרה למשך שעתיים עם הקליפות
						עד לקבלת הצבע הרצוי ומשם תסס בחביות עץ ישנות למשך 40 יום, עבר תהליכי הצללה,עוצב בקור ובוקבק
						ליין גוון ורוד בהיר וצלול. בפתיחה התפרצות של תות שדה, עשבוניות קלה, עלי ורדים ואשכולית אדומה
					חמיצות גבוהה אך משתלבת עם גוף בינוני עד מלא ועץ. מתיקות נעימה וסיומת מתמשכת</p>

				</div>
				<div class="market-description">
					<div class="market-first-title">:תיאור</div>
					<div class="market-description-content">
						<p class="market-description-text">
							זן ענבים:<span class="market-description-item">ברברה </span>
						</p>
						<p class="market-description-text">
							נפח:<span class="market-description-item"> 750 מ"ל </span>
						</p>
						<p class="market-description-text">
						סוג היין: <span class="market-description-item"> יין יבש </span>
						</p>
						<p class="market-description-text">
						כשרות:<span class="market-description-item"> כשר </span>
						</p>
					</div>
				</div>
				<div class="market-first-price">
					<div class="market-price"> ₪90</div>
					<div class="market-first-title">:מחיר</div>
				</div>
			</div>
			<div class="market-first-block">
				<img src="img/market1.jpg" alt="" class="market-first-img">
			</div>
		</section>
		<section class="market-second">
			<div class="container-two">
				<div class="market-second-title"><span class="green">יין כמו ש...</span><span class="bold"> הטבע התכוון </span></div>
				<div class="market-second-flex">
					<a href="" class="market-second-link bold">השאירו פרטים</a>  או
					<a href="" class="market-second-link bold underline">04-6991039</a>

					:בואו להנות ממגוון הטעמים, להכיר את יקב אדיר והחוויה. על מנת להיכנס לעולמנו ולטעום מהיין המדהים, התקשרו
				</div>
				<form action="" class="market-second-form">
					<div class="market-second-flex">
						<button type="submit" class="market-second-btn">שלח</button>
						<input type="text" class="market-second-input" placeholder=":מייל*" required>
						<input type="text" class="market-second-input" placeholder=":טלפון*" required>
						<input type="text" class="market-second-input" placeholder=":שם מלא*" required>
					</div>
					<label class="market-second-label">
						<input type="checkbox" class="checkbox">
						<span class="market-second-checkbox"></span>
						<span class="market-second-item">אני מאשר/ת לקבלת דיוור שיווקי וחומרי פרסום</span>
					</label>
				</form>
				<p class="market-second-text">
					יינות יקב אדיר משווקים לחנויות היין המובחרות, ניתן לרכוש ישירות ממרכז המבקרים
				</p>
			</div>
		</section>
		<section class="market-third">
			<div class="market-third-title bold">מוצרים נוספים שעשויים לעניין אותך</div>
			<div class="market-third-flex">
				<a href="#" class="market-third-product">
					<img src="img/winery1.jpg" alt="" class="market-third-img">
					<div class="market-third-price">סובניון בלאן</div>
				</a>
				<a href="#" class="market-third-product">
					<img src="img/winery2.jpg" alt="" class="market-third-img">
					<div class="market-third-price">a אדום</div>
				</a>
				<a href="#" class="market-third-product">
					<img src="img/winery5.jpg" alt="" class="market-third-img">
					<div class="market-third-price">קברנה סוביניון</div>
				</a>
				<a href="#" class="market-third-product">
					<img src="img/winery4.jpg" alt="" class="market-third-img">
					<div class="market-third-price">שיראז</div>
				</a>
			</div>
		</section>
		<img src="img/bung.jpg" alt="" class="visitor-fifth-img">
	</div>
	@import "footer.html"
	<script src="js/jquery.min.js"></script>
	<script src="js/libs.min.js"></script>
    <script src="js/common.js"></script>


</body>
</html>
